{{ define "main"}}
<style>
    img {
        margin: auto;
        max-width: 300px;
        width: 100%;
    }
    .row, .main {
        text-align: center
    }
    h1, h3, p {
        display:block;
        width: 100%
    }
</style>

<section>
    <header class="main">
        <h1>{{ .Title }}</h1>
    </header>
    <div class="row">
        <img src="/images/mandala.png">
    </div>
    <div class="row">
        <h3>Hey, That isn't food!</h3>
        <p>Lets go look for some <a href="/">Here</a></p>
    </div>
</section>
{{ end }}