{{ define "main" }}
<section id="banner">
    <div class="content">
        <header>
            <h1>Hey, I’m Tom</h1>
            <p>And I love cooking and eating</p>
        </header>
        <p>

            So here is a curated list of all my favourite recipes, check out some of the <a pjax href="/tags/vegetarian/">Vegetarian</a>, or <a pjax href="/tags/healthy">Healthy</a> recipes!
        </p>
        {{/* <ul class="actions">
            <li><a href="#" class="button big">Learn More</a></li>
        </ul> */}}
    </div>
    <span class="image object">
        {{ $hero := resources.Get "images/hero.jpg" }}
        {{ with $hero }}
        <img src="{{ (.Resize "600x").RelPermalink }}" alt="" />
        {{ end }}
    </span>
</section>
<section>
    <header>
        <div class="header minor"> 
            <h2>Newest Recipes</h2>
            <a class="button" href="/recipes">View All</a>
        </div>
    </header>
    {{ partial "recipe-cards" (first 6 (where .Site.RegularPages "Section" "recipes")) }}
</section>

{{ end }}