{{ define "main" }}
    <section>
      <header>
        <div class="header minor"> 
            <h2>All Recipes</h2>
        </div>
        </header>
        <div class="posts">
            {{ range $page := .Paginator.Pages }}
            <article>
                <a href="{{ $page.Permalink }}" class="image">
                {{ $original := $page.Resources.GetMatch "hero.*" }}
                {{ with $original }}
                <img src="{{ (.Resize "600x").Permalink }}" alt="{{ $page.Title }}" />
                {{ end }}
                </a>
                <h3>{{ $page.Title }}</h3>
                <p>{{ $page.Summary }}</p>
                <ul class="actions">
                    <li><a href="{{ $page.Permalink }}" class="button">View</a></li>
                </ul>
            </article>
            {{ end }}
        </div>
        <div class="col-12">
            {{ partial "pagination" . }}
        </div>
    
    </section>
{{ end }}