{{ define "main" }}

<section>
    <header class="main">
        <h1>{{ .Title }}
            <a href="#heart" class="icon fa-pull-right fa-heart-o"></a>
            <a href="javascript:window.print()" class="icon fa-pull-right fa-print"></a>
        </h1>
        <ul class="tags">
        {{ range $name := .Params.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" ($name | lower)) }}
            <li><a href="{{ .Permalink }}" class="button">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
        </ul>
    </header>
    <div class="row recipe">
        <div class="col-4 col-12-small">
            <h2>Ingredients</h2>
            <ul class="alt">
                {{ range $index, $elm := .Params.ingredients }}
                    
                    {{ if eq (printf "%T" $elm) "string" }}
                        <li>
                            <input
                                type="checkbox"
                                id="i-{{ $index }}"
                                name="i-{{ $index }}"
                            ><label for="i-{{ $index }}">{{ $elm }}</label>
                        </li>
                    {{ else }}
                        {{ range $name, $ings :=  $elm }}
                            {{ if not (eq $name "Default") }} <h3>{{ $name }}</h3> {{ end }}
                            {{ range $iindex, $ing := $ings }}
                            <li>
                                <input
                                    type="checkbox"
                                    id="i-{{ $index }}"
                                    name="i-{{ $index }}"
                                ><label for="i-{{ $index }}">{{ $ing }}</label>
                            </li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="col-8 col-12-small">
            <div class="clearfix intro">
                {{ $original := .Resources.GetMatch "hero.*" }}
                {{ if $original }}
                    <div class="right image">
                        <img src="{{ ($original.Resize "600x").Permalink }}" alt="{{ .Title }}" />
                    </div>
                {{ end }}

                {{ .Content }}
            </div>

            <h2>Method</h2>
            {{ range $index, $elm := .Params.method }}
                {{ if eq (printf "%T" $elm) "string" }}
                    <h4>Step {{ add $index 1 }}</h4>
                    <p>{{ $elm }}</p>
                {{ else }}
                    {{ range $name, $steps :=  $elm }}
                        {{ if not (eq $name "Default") }} <h3>{{ $name }}</h3> {{ end }}
                        <div style="padding-left: 10px;">
                        {{ range $index, $elm := $steps }}
                            <h4>Step {{ add $index 1 }}</h4>
                            <p>{{ $elm }}</p>
                        {{ end }}
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ if .Params.original }}
            <p>Original recipe from <a href="{{ .Params.original.url }}">{{ .Params.original.host }}</a></p>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}