<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{- if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{- else -}}
    <title>{{ .Site.Title }} {{ .Page.Title }}</title>
    {{ end -}}

    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify }}">
    {{ end }}

    {{ $style := resources.Get "scss/main.scss" | toCSS "css/main.css" | minify | fingerprint "sha512" }}
    <link rel="stylesheet"  href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7784427690889827"});
    </script>
</head>
<body class="is-preload">
    <div id="firebaseui-auth-container"></div>
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header class="header">
                    <a href="/" class="logo"><strong>Tom's</strong> Cooking</a>
                    <ul class="icons">
                        <li><a href="https://github.com/thattomperson/toms.cooking" class="icon fa-github"><span class="label">Github</span></a></li>
                        {{/* <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li> */}}
                    </ul>
                </header>
                <div class="pjax">
                {{ block "main" . }}{{ end }}
                </div>
            </div>
        </div>
        {{ partial "sidebar" . }}
    </div>

    <script data-cfasync="false" type="text/javascript">(function(w, d) { var s = d.createElement('script'); s.src = '//delivery.adrecover.com/37849/adRecover.js?ts=1544092778606'; s.type = 'text/javascript'; s.async = true; (d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(s); })(window, document);</script>
    {{ $vendor := slice (resources.Get "js/jquery.min.js") (resources.Get "js/browser.min.js") (resources.Get "js/breakpoints.min.js") | resources.Concat "js/vendor.js" | minify | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $vendor.Permalink }}" integrity="{{ $vendor.Data.Integrity }}"></script>

    {{ $script := slice (resources.Get "js/util.js") (resources.Get "js/theme.js") | resources.Concat "js/theme.js" | minify | fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyB5S0AjZYGfe8lHKEVWcyUkJyuO0H-zX-E",
        authDomain: "toms-cooking.firebaseapp.com",
        databaseURL: "https://toms-cooking.firebaseio.com",
        projectId: "toms-cooking",
        storageBucket: "toms-cooking.appspot.com",
        messagingSenderId: "775892925094"
    };
    firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.js"></script>
    
    

    {{ $script := slice (resources.Get "js/main.js") | resources.Concat "js/main.js" | minify | fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
</body>
</html>