{{ $paginator := .Paginator }}


<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 3 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

{{ if gt $paginator.TotalPages 1 }}
    <ul class="pagination">
        {{ if $paginator.HasPrev }}
        <li><a href="{{ $paginator.Prev.URL }}" class="button">Prev</a></li>
        {{ else }}
        <li><span class="button disabled">Prev</span></li>
        {{ end }}

    
        {{ range $paginator.Pagers }}
            {{ $.Scratch.Set "page_number_flag" false }}

            <!-- Complex page numbers. -->
            {{ if gt $paginator.TotalPages $max_links }}

                {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
                {{ $.Scratch.Set "page_number_flag" true }}
                {{ end }}

                {{ if eq 1 .PageNumber }}
                {{ $.Scratch.Set "page_number_flag" true }}
                {{ end }}

                {{ if and (eq 2 .PageNumber) (eq ($.Scratch.Get "page_number_flag") false) }}
                    <span>...</span>
                {{ end }}

                {{ if eq .TotalPages .PageNumber }}
                    {{ $.Scratch.Set "page_number_flag" true }}
                {{ end }}
                {{ if and (eq .PageNumber (sub .TotalPages 1)) (eq ($.Scratch.Get "page_number_flag") false) }}
                    <span>...</span>
                {{ end }}


            <!-- Simple page numbers. -->
            {{ else }}
                {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}

            {{ if eq ($.Scratch.Get "page_number_flag") true }}
                <li><a href="{{ .URL }}" class="page
                {{- if eq . $paginator }} active {{- end -}}
                ">{{ .PageNumber }}</a></li>
            {{ end }}
        {{ end}}


        {{ if $paginator.HasNext }}
        <li><a href="{{ $paginator.Next.URL }}" class="button">Next</a></li>
        {{ else }}
        <li><span class="button disabled">Next</span></li>
        {{ end }}
    </ul>
{{ end }}