@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,700";

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  @apply text-gray-text;
  @apply bg-gray-100;
  font-size: .9em;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-family: "roboto slab", serif;
  @apply text-gray-heading;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0 0 .5em;
  line-height: 1.3
}

h2 {
  font-size: 1.75em
}

h3 {
  font-size: 1.25em
}

h4 {
  font-size: 1.1em
}

h5 {
  font-size: .9em
}

h6 {
  font-size: .7em
}